# db
APP_CONFIG__DB__HOST=localhost # если через docker(в контейнере) - название контейнера бд(db-postgres), иначе localhost
APP_CONFIG__DB__PORT=5432
APP_CONFIG__DB__USER=example
APP_CONFIG__DB__PASSWORD=example
APP_CONFIG__DB__NAME=example